/* style.css */

h1 {
    color: rgb(35, 35, 218);
    font-weight: bold;
    font-size: 50px;

}

.links {
    color: rgb(0, 225, 255);
    font-size: 25px;
}

h2,
h3 {
    color: red;
}

h2 {
    font-size: 26px;
    
}

h3 {
    font-size: 20px; 
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
    
}
